<h2>
    Esta página fue creada por JUAN ALVAREZ
</h2>

<body>

<img src="/images/image.png" />



</body>

<footer>
    <a href="/">Home</a>
    <a href="credits">Créditos</a>
    <a href="quizzes">Quizzes</a>
</footer>