<head>
    <title>Lista de los quizzes</title>
</head>

<body>
<p>
    Quizzes existentes:
</p>
<h1><%=questions%></h1>
<h2><%=answers%></h2>


<a href="/">Home</a>
<a href="credits.ejs">Créditos</a>
<a href="quizzes.ejs">Quizzes</a>
</body>