
<p>Quizzes disponibles</p>


<table>
    <tr>
        <th>Preguntas</th>
        <th>Respuestas</th>
    </tr>
        <%for (i=0;i<questions.length;i++){%>
    <tr>
        <td><%questions[i]%></td>
        <td><%answers[i]%></td>
    </tr>
    <%}%>
</table>


<script>
    let a=JSON.parse(<%=questions%>.stringify)
    console.log(a);
</script>

