<title>Lista de Quizzes</title>



<body>


<table>

    <tr>
        <th>Pregunta</th>
        <th>Respuesta</th>
    </tr>

    <% var quizz = (JSON.parse(quizzes)) %>
    <% console.log(quizz) %>
    <% console.log(quizz[1].question) %>

    <% for(i = 0;i < quizz.length;i++){ %>
    <tr>
        <td>
            <%- quizz[i].question %>
        </td>
        <td>
            <%- quizz[i].answer %>
        </td>
    </tr>
    <% } %>

</table>


</body>

<footer>
    <a href="/">Home</a>
    <a href="credits.ejs">Créditos</a>
    <a href="quizzes.ejs">Quizzes</a>
</footer>




